spring:
    profiles:
        active: local
    application:
        name: order-service
    liquibase:
        change-log: classpath:db/changelog/master.yaml
        enabled: true
    jpa:
        open-in-view: false
    kafka:
      bootstrap-servers: kafka-0:9090,kafka-1:9090,kafka-2:9090

resilience4j:
  circuitbreaker:
    instances:
        user-service:
            failure-rate-threshold: 30
            slow-call-rate-threshold: 90
            wait-duration-in-open-state: 15s
            permitted-number-of-calls-in-half-open-state: 5
            minimum-number-of-calls: 30

kafka:
    producer:
      topics:
        order-created:
          name: ORDER_CREATED
          partitions: 6
          replicas: 3
          min-insync: 2
      acks: all
      request-timeout: 5000
      enable-idempotence: true
    consumer:
      group-id: order-service
      trusted-packages: com.innowise.paymentservice.event